<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Magento\Paypal\Block\Checkout\Onepage\Success\BillingAgreement $block
 */
?>
<p data-mage-init='{"Magento_Paypal/js/in-context/billing-agreement": {"invalidateOnLoad" : true}}'>
    <?php echo $block->escapeHtml(__('Your billing agreement # is: ')); ?>
    <a href="<?php echo $block->escapeUrl($block->getAgreementUrl()); ?>">
        <?php echo $block->escapeHtml($block->getAgreementRefId()); ?>
    </a>.
</p>
