<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Widget\Name $block */

/*
<?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->toHtml() ?>

For checkout/onepage/shipping.phtml:

<?php echo $block->getLayout()->createBlock('Magento\Customer\Block\Widget\Name')
   ->setObject($block->getAddress())
   ->setFieldIdFormat('shipping:%s')
   ->setFieldNameFormat('shipping[%s]')
   ->toHtml() ?>
*/

$prefix = $block->showPrefix();
$middle = $block->showMiddlename();
$suffix = $block->showSuffix();
?>
<?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
<div class="field required fullname <?php echo $block->escapeHtmlAttr($block->getContainerClassName()) ?>">
    <label for="<?php echo $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>" class="label">
        <span><?php echo $block->escapeHtml(__('Name')) ?></span>
    </label>
    <div class="control">
        <fieldset class="fieldset fieldset-fullname">
        <div class="fields">
<?php endif; ?>

    <?php if ($prefix): ?>
        <div class="field field-name-prefix<?php if ($block->isPrefixRequired()) {
    echo ' required';
} ?>">
            <label class="label" for="<?php echo $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>">
                <span><?php echo $block->escapeHtml($block->getStoreLabel('prefix')) ?></span>
            </label>

            <div class="control">
                <?php if ($block->getPrefixOptions() === false): ?>
                    <input type="text" id="<?php echo $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                           name="<?php echo $block->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                           value="<?php echo $block->escapeHtmlAttr($block->getObject()->getPrefix()) ?>"
                           title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                           class="input-text <?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('prefix')) ?>" <?php if ($block->isPrefixRequired()) {
    echo ' data-validate="{required:true}"';
} ?>>
                <?php else: ?>
                    <select id="<?php echo $block->escapeHtmlAttr($block->getFieldId('prefix')) ?>"
                            name="<?php echo $block->escapeHtmlAttr($block->getFieldName('prefix')) ?>"
                            title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('prefix')) ?>"
                            class="<?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('prefix')) ?>" <?php if ($block->isPrefixRequired()) {
    echo ' data-validate="{required:true}"';
} ?> >
                        <?php foreach ($block->getPrefixOptions() as $_option): ?>
                            <option value="<?php echo $block->escapeHtmlAttr($_option) ?>"<?php if ($block->getObject()->getPrefix() == $_option): ?> selected="selected"<?php endif; ?>>
                                <?php echo $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
        <div class="field field-name-firstname required">
            <label class="label" for="<?php echo $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>">
                <span><?php echo $block->escapeHtml($block->getStoreLabel('firstname')) ?></span>
            </label>

            <div class="control">
                <input type="text" id="<?php echo $block->escapeHtmlAttr($block->getFieldId('firstname')) ?>"
                       name="<?php echo $block->escapeHtmlAttr($block->getFieldName('firstname')) ?>"
                       value="<?php echo $block->escapeHtmlAttr($block->getObject()->getFirstname()) ?>"
                       title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('firstname')) ?>"
                       class="input-text <?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('firstname')) ?>" <?php if ($block->getAttributeValidationClass('firstname') == 'required-entry') {
    echo ' data-validate="{required:true}"';
} ?>>
            </div>
        </div>
    <?php if ($middle): ?>
        <?php $isMiddlenameRequired = $block->isMiddlenameRequired(); ?>
        <div class="field field-name-middlename<?php echo $isMiddlenameRequired ? ' required' : '' ?>">
            <label class="label" for="<?php echo $block->escapeHtmlAttr($block->getFieldId('middlename')) ?>">
                <span><?php echo $block->escapeHtml($block->getStoreLabel('middlename')) ?></span>
            </label>

            <div class="control">
                <input type="text" id="<?php echo $block->escapeHtmlAttr($block->getFieldId('middlename')) ?>"
                       name="<?php echo $block->escapeHtmlAttr($block->getFieldName('middlename')) ?>"
                       value="<?php echo $block->escapeHtmlAttr($block->getObject()->getMiddlename()) ?>"
                       title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('middlename')) ?>"
                       class="input-text <?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('middlename')) ?>" <?php echo $isMiddlenameRequired ? ' data-validate="{required:true}"' : '' ?>>
            </div>
        </div>
    <?php endif; ?>
        <div class="field field-name-lastname required">
            <label class="label" for="<?php echo $block->escapeHtmlAttr($block->getFieldId('lastname')) ?>">
                <span><?php echo $block->escapeHtml($block->getStoreLabel('lastname')) ?></span>
            </label>

            <div class="control">
                <input type="text" id="<?php echo $block->escapeHtmlAttr($block->getFieldId('lastname')) ?>"
                       name="<?php echo $block->escapeHtmlAttr($block->getFieldName('lastname')) ?>"
                       value="<?php echo $block->escapeHtmlAttr($block->getObject()->getLastname()) ?>"
                       title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('lastname')) ?>"
                       class="input-text <?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('lastname')) ?>" <?php if ($block->getAttributeValidationClass('lastname') == 'required-entry') {
    echo ' data-validate="{required:true}"';
} ?>>
            </div>
        </div>
    <?php if ($suffix): ?>
        <div class="field field-name-suffix<?php if ($block->isSuffixRequired()) {
    echo ' required';
} ?>">
            <label class="label" for="<?php echo $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>">
                <span><?php echo $block->escapeHtml($block->getStoreLabel('suffix')) ?></span>
            </label>

            <div class="control">
                <?php if ($block->getSuffixOptions() === false): ?>
                    <input type="text" id="<?php echo $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                           name="<?php echo $block->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                           value="<?php echo $block->escapeHtmlAttr($block->getObject()->getSuffix()) ?>"
                           title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                           class="input-text <?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('suffix')) ?>" <?php if ($block->isSuffixRequired()) {
    echo ' data-validate="{required:true}"';
} ?>>
                <?php else: ?>
                    <select id="<?php echo $block->escapeHtmlAttr($block->getFieldId('suffix')) ?>"
                            name="<?php echo $block->escapeHtmlAttr($block->getFieldName('suffix')) ?>"
                            title="<?php echo $block->escapeHtmlAttr($block->getStoreLabel('suffix')) ?>"
                            class="<?php echo $block->escapeHtmlAttr($block->getAttributeValidationClass('suffix')) ?>" <?php if ($block->isSuffixRequired()) {
    echo ' data-validate="{required:true}"';
} ?>>
                        <?php foreach ($block->getSuffixOptions() as $_option): ?>
                            <option value="<?php echo $block->escapeHtmlAttr($_option) ?>"<?php if ($block->getObject()->getSuffix() == $_option): ?> selected="selected"<?php endif; ?>>
                                <?php echo $block->escapeHtml(__($_option)) ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>

    <?php if (($prefix || $middle || $suffix) && !$block->getNoWrap()): ?>
            </div>
        </fieldset>
    </div>
</div>
<?php endif; ?>
