<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<button type="submit" data-role="review-save" title="<?php echo $block->escapeHtml(__('Continue')); ?>"
        class="button action checkout primary">
    <span><?php echo $block->escapeHtml(__('Continue')); ?></span>
</button>
