<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 ?>
<?php
/**
 * @see \Magento\Paypal\Block\Bml\Banners
 */
?>
<div class="paypal-logo">
    <script data-pp-pubid="<?php echo $block->escapeHtml($block->getPublisherId()) ?>"
            data-pp-placementtype="<?php echo $block->escapeHtml($block->getSize()) ?>"
        > (function (d, t) {
            "use strict";
            var s = d.getElementsByTagName(t)[0], n = d.createElement(t);
            n.src = "//paypal.adtag.where.com/merchant.js";
            s.parentNode.insertBefore(n, s);
        }(document, "script"));
    </script>
</div>
